@charset "UTF-8";
/* CSS Document */

:root{
    --gg-bg-color:#040222;
    --gg-txt-color:#F1F1E6;
    --gg-ice-color:#C8F1F9;
    --gg-deepblue-color:#011FE1;
    --gg-border-drop: solid 5px #011FE1;
}

@font-face {
    font-family: Panchang;
    src: url();
}

body {
    background-color: var(--gg-bg-color);
}

h1 {
    font-family: Panchang, sans-serif;
    font-size: 84px;
    font-weight: bold;
    color:var(--gg-ice-color);
    filter: drop-shadow(0px 0px 50px var(--gg-deepblue-color));
    text-align: center;
}

h2 {
    font-family: Panchang;
    font-size: 48px;
    font-weight: normal;
    color:var(--gg-ice-color);
    text-align: center;
}

.header{
    text-align: center;
    margin-top: 185px;
}

.box {
    border: var(--gg-border-drop);
    box-shadow: inset (0px 0px 87px var(--gg-deepblue-color));
    height: 700px;
    margin: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 50px 0px #011FE1;
    border-radius: 50px;
}

.icon{
    width: 143px;
    height: 143px;
    color: var(--gg-txt-color);
}

.row {
    margin: 0px 155px;
}

.home{
    margin-top: 100px;
}

.tty{
    margin-top:20px;
}

.button-txt{
    color: var(--gg-txt-color);
    font-weight: bold;
}

.space{
    margin-bottom: 80px;
}

.spacino{
    margin-bottom: 150px;
}